@font-face {
  font-family: "TradeGothic";
  src: url("../fonts/Trade Gothic LT Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal; }
@font-face {
  font-family: "TradeGothic";
  src: url("../fonts/Trade Gothic LT.ttf") format("truetype");
  font-weight: regular;
  font-style: normal; }
body {
  margin: 0;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: border-box;
  font-family: "TradeGothic", sans-serif; }

.hide {
  display: none; }

.next-filter {
  cursor: pointer; }

.selected {
  color: #808080; }

.next-nav {
  height: 65px;
  width: 64px;
  margin: 0 !important;
  z-index: 101;
  position: fixed;
  overflow: hidden;
  transition: 0.8s;
  transition-timing-function: inherit;
  background-color: black;
  font-weight: regular;
  font-size: 1em; }
  .next-nav.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .next-nav .next-nav-content {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 65px;
    background: #57A2D4;
    transition: 1s;
    transition-timing-function: inherit; }
    .next-nav .next-nav-content.row {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .next-nav .next-nav-content .next-home .next-home-icon {
      text-align: center;
      padding: 12.25px 12px;
      position: fixed;
      left: 0;
      top: 0;
      height: 40.5px;
      width: 40px; }
      .next-nav .next-nav-content .next-home .next-home-icon:hover {
        cursor: pointer; }
    .next-nav .next-nav-content .next-nav-title, .next-nav .next-nav-content .next-nav-item {
      padding: 0;
      display: flex;
      align-items: center; }
      .next-nav .next-nav-content .next-nav-title a, .next-nav .next-nav-content .next-nav-item a {
        color: white;
        text-decoration: none; }
        .next-nav .next-nav-content .next-nav-title a:hover, .next-nav .next-nav-content .next-nav-item a:hover {
          color: #808080;
          cursor: pointer; }
  .next-nav .next-subnav-wrapper {
    padding-bottom: 20px;
    top: 0px;
    width: 100vw;
    margin: 0 !important;
    color: white;
    overflow: hidden;
    transition: 0.5s;
    transition-timing-function: inherit; }
    .next-nav .next-subnav-wrapper.row {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .next-nav .next-subnav-wrapper .nav-subnav-before {
      padding: 0; }
    .next-nav .next-subnav-wrapper .next-subnav-content.row {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .next-nav .next-subnav-wrapper .next-subnav-content.col-xs-6 {
      padding: 0 !important; }
    .next-nav .next-subnav-wrapper .next-subnav-content .next-subnav-group {
      overflow: hidden;
      transition: opacity 0.5s; }
      .next-nav .next-subnav-wrapper .next-subnav-content .next-subnav-group a:hover {
        color: #808080; }
      .next-nav .next-subnav-wrapper .next-subnav-content .next-subnav-group#filters li:hover {
        color: #808080; }
    .next-nav .next-subnav-wrapper .next-subnav-content .subnav-group-3 li:nth-child(2), .next-nav .next-subnav-wrapper .next-subnav-content .subnav-group-3 li:nth-child(4) {
      margin-bottom: 24px; }
    .next-nav .next-subnav-wrapper .next-subnav-content ul {
      padding: 0;
      margin-top: 72px;
      list-style-type: none; }
      .next-nav .next-subnav-wrapper .next-subnav-content ul li {
        margin: 10px 0; }
        .next-nav .next-subnav-wrapper .next-subnav-content ul li a {
          color: white;
          text-decoration: none; }

.next-featured {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw; }
  .next-featured .next-mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2; }
    .next-featured .next-mask:hover {
      cursor: pointer; }
    .next-featured .next-mask .animated {
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }
    .next-featured .next-mask .next-mask-logo {
      position: absolute;
      height: 384px;
      width: 384px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
    .next-featured .next-mask .next-mask-top {
      position: absolute;
      background: #fff;
      height: calc(50vh - 192px);
      width: 100vw; }
    .next-featured .next-mask .next-mask-right {
      position: absolute;
      background: #fff;
      height: 384px;
      width: calc(50vw - 192px);
      left: 0;
      top: calc(50vh - 192px); }
    .next-featured .next-mask .next-mask-bottom {
      position: absolute;
      background: #fff;
      height: calc(50vh - 192px);
      width: 100vw;
      bottom: 0; }
    .next-featured .next-mask .next-mask-left {
      position: absolute;
      background: #fff;
      height: 384px;
      width: calc(50vw - 192px);
      right: 0;
      top: calc(50vh - 192px); }
    .next-featured .next-mask img.animated {
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }
  .next-featured .featured-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-background-size: cover;
    background-size: cover; }
  .next-featured .bgwidth {
    width: 100%; }
  .next-featured .bgheight {
    height: 100%; }

.next-content {
  position: relative;
  top: 100vh; }
  .next-content .next-grid {
    width: 100vw;
    overflow-x: hidden;
    position: relative; }
    .next-content .next-grid .next-grid-item img {
      transform: scale(1.005, 1.005);
      transform-origin: top center; }
    .next-content .next-grid .portrait-img {
      width: calc(100% / 3);
      height: auto; }
    .next-content .next-grid .landscape-img {
      width: calc(2 * 100% / 3); }
    .next-content .next-grid .portrait-img, .next-content .next-grid .landscape-img {
      padding: 0 !important; }
      .next-content .next-grid .portrait-img img, .next-content .next-grid .landscape-img img {
        position: relative;
        display: block;
        width: 100%; }
    .next-content .next-grid .portrait-img .grid-mask, .next-content .next-grid .landscape-img .grid-mask {
      box-sizing: border-box;
      opacity: 0;
      transition: 0.4s;
      padding: 72px 48px;
      font-weight: regular;
      top: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      height: 44.444444vw;
      width: 100%;
      transform: scale(1.005, 1.005);
      transform-origin: top center; }
      .next-content .next-grid .portrait-img .grid-mask .main-text, .next-content .next-grid .landscape-img .grid-mask .main-text {
        font-size: 1.35em;
        margin-bottom: 36px; }
      .next-content .next-grid .portrait-img .grid-mask .sub-text, .next-content .next-grid .landscape-img .grid-mask .sub-text {
        font-size: 0.9em; }
    .next-content .next-grid .portrait-img a, .next-content .next-grid .landscape-img a {
      box-sizing: border-box;
      color: black;
      text-decoration: none; }
  .next-content.no-top {
    top: 0px; }

.next-footer {
  position: relative;
  top: 100vh;
  height: 85px;
  background-color: white;
  font-weight: regular;
  font-size: 1em; }
  .next-footer.row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .next-footer .left-footer {
    padding: 4vh 48px !important; }
  .next-footer .middle-footer, .next-footer .right-footer {
    padding: 4vh 0 !important; }
    .next-footer .middle-footer a, .next-footer .right-footer a {
      color: black;
      text-decoration: none; }

.next-hidden {
  display: none; }

.next-project-featured {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw; }
  .next-project-featured img.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .next-project-featured .featured-img {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-background-size: cover;
    background-size: cover; }
  .next-project-featured .img-controller {
    background: rgba(255, 255, 255, 0);
    transition: 0.5s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: 100; }
    .next-project-featured .img-controller .left-controller {
      position: absolute;
      width: 50vw;
      height: 100%;
      left: 0; }
      .next-project-featured .img-controller .left-controller:hover {
        cursor: pointer; }
    .next-project-featured .img-controller .right-controller {
      position: absolute;
      width: 50vw;
      height: 100%;
      right: 0; }
      .next-project-featured .img-controller .right-controller:hover {
        cursor: pointer; }
  .next-project-featured .bgwidth {
    width: 100%; }
  .next-project-featured .bgheight {
    height: 100%; }

.next-info-footer {
  position: absolute;
  top: 90vh;
  width: 100vw;
  height: 10vh;
  background-color: white;
  font-weight: regular;
  font-size: 1em; }
  .next-info-footer.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  .next-info-footer.row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .next-info-footer .left-footer {
    cursor: pointer;
    padding: 4vh 48px !important; }
  .next-info-footer .flex-info {
    cursor: pointer; }
  .next-info-footer .middle-long-footer, .next-info-footer .middle-short-footer, .next-info-footer .right-footer {
    padding: 4vh 0 !important; }
  .next-info-footer .right-footer {
    cursor: pointer; }
  .next-info-footer .flex-catlog {
    cursor: pointer; }

.info-wrapper {
  transition: 0.5s;
  transition-timing-function: inherit;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  height: 90vh;
  width: calc(100vw / 3); }
  .info-wrapper .project-info {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    font-weight: regular; }
    .info-wrapper .project-info .project-info-wrapper {
      height: auto;
      width: calc(100vw / 3 - 96px);
      position: absolute;
      top: calc(50% + 2vh);
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
    .info-wrapper .project-info .main-text {
      font-size: 1.35em;
      margin-bottom: 36px; }
    .info-wrapper .project-info .sub-text {
      line-height: 1.5em;
      font-size: 1em;
      margin-bottom: 36px; }
    .info-wrapper .project-info .project-intro {
      padding-bottom: 36px; }

.accordion-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none; }

.catlog-wrapper {
  transition: 0.5s;
  transition-timing-function: inherit;
  overflow-y: scroll;
  position: absolute;
  transform: translateX(100%);
  top: 0;
  right: 0;
  height: 90vh;
  width: calc(100vw / 3); }
  .catlog-wrapper .project-thumbnail {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(100vh / 3); }
    .catlog-wrapper .project-thumbnail .project-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      -webkit-background-size: cover;
      background-size: cover;
      height: auto; }
    .catlog-wrapper .project-thumbnail .prowidth {
      width: 100%; }
    .catlog-wrapper .project-thumbnail .proheight {
      height: 100%; }
    .catlog-wrapper .project-thumbnail .grid-mask {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      opacity: 0;
      transition: 0.4s;
      padding: 36px 36px;
      font-weight: regular;
      top: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      height: calc(100vh / 3);
      width: 100%;
      transform-origin: top center; }
      .catlog-wrapper .project-thumbnail .grid-mask .main-text {
        font-size: 1.25em;
        line-height: 1.5em;
        margin-bottom: 36px; }
    .catlog-wrapper .project-thumbnail a {
      box-sizing: border-box;
      color: black;
      text-decoration: none; }

.accordion-wrapper {
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: none; }

@keyframes tick {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
.next-tick {
  animation: tick 3s infinite step-end; }

.next-office-featured {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw; }
  .next-office-featured .featured-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-background-size: cover;
    background-size: cover; }
  .next-office-featured .bgwidth {
    width: 100%; }
  .next-office-featured .bgheight {
    height: 100%; }
  .next-office-featured .office-title-wrapper {
    width: calc(100vw - 65px);
    height: calc(100vh - 40%);
    position: absolute;
    top: 36%;
    left: 65px;
    color: white; }
    .next-office-featured .office-title-wrapper .office-title {
      width: 45%; }
    .next-office-featured .office-title-wrapper .main-text {
      font-size: 2.5em;
      line-height: 1.4em;
      margin-bottom: 64px; }
    .next-office-featured .office-title-wrapper .sub-text {
      font-size: 1.25em;
      border-bottom: solid 1.25px white;
      display: inline;
      padding-bottom: 3px; }
      .next-office-featured .office-title-wrapper .sub-text:hover {
        border-bottom: solid 1.25px rgba(255, 255, 255, 0.5); }
      .next-office-featured .office-title-wrapper .sub-text a {
        color: white; }
        .next-office-featured .office-title-wrapper .sub-text a:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.5); }

.next-office-content {
  box-sizing: border-box;
  background-color: white;
  position: relative;
  top: 100vh; }
  .next-office-content .next-about {
    position: relative;
    height: 100vh;
    font-size: 1.42em;
    line-height: 1.5em; }
    .next-office-content .next-about .next-about-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .next-office-content .next-about .next-about-wrapper.row {
        margin: 0; }
      .next-office-content .next-about .next-about-wrapper .next-about-title {
        padding-left: 65px;
        color: #57A2D4; }
      .next-office-content .next-about .next-about-wrapper .next-about-content {
        padding-right: 150px; }
  .next-office-content .next-profile .vertical-space {
    height: 85px; }
  .next-office-content .next-profile .next-stuff {
    position: relative; }
    .next-office-content .next-profile .next-stuff .next-stuff-item {
      box-sizing: border-box;
      position: absolute;
      width: calc(100vw / 3); }
      .next-office-content .next-profile .next-stuff .next-stuff-item img {
        width: 100%; }
      .next-office-content .next-profile .next-stuff .next-stuff-item .grid-mask {
        box-sizing: border-box;
        opacity: 0;
        transition: 0.4s;
        padding: 72px 48px;
        font-weight: regular;
        top: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        height: 44.444444vw;
        width: 100%;
        transform: scale(1.005, 1.005);
        transform-origin: top center; }
        .next-office-content .next-profile .next-stuff .next-stuff-item .grid-mask .main-text {
          font-size: 1.35em;
          margin-bottom: 36px; }
        .next-office-content .next-profile .next-stuff .next-stuff-item .grid-mask .sub-text {
          font-size: 0.9em; }
        .next-office-content .next-profile .next-stuff .next-stuff-item .grid-mask:hover {
          cursor: pointer; }
  .next-office-content .stuff-wrapper {
    transition: 0.5s;
    transition-timing-function: inherit;
    position: absolute;
    top: 0;
    height: 100vh;
    width: calc(100vw / 3); }
    .next-office-content .stuff-wrapper .stuff-info {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
      overflow-y: scroll;
      background-color: white;
      font-weight: regular; }
      .next-office-content .stuff-wrapper .stuff-info .stuff-info-wrapper {
        height: auto;
        width: calc(100vw / 3 - 96px);
        position: absolute;
        top: calc(50% + 2vh);
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
      .next-office-content .stuff-wrapper .stuff-info .main-text {
        font-size: 1.35em;
        margin-bottom: 36px; }
      .next-office-content .stuff-wrapper .stuff-info .sub-text {
        line-height: 1.5em;
        font-size: 1em;
        margin-bottom: 36px; }
      .next-office-content .stuff-wrapper .stuff-info .stuff-intro {
        padding-bottom: 36px; }
  .next-office-content .next-CTA-wrapper {
    box-sizing: border-box;
    position: relative;
    top: 100vw;
    left: 0;
    padding-left: 65px;
    padding-top: 150px;
    height: calc(100vh - 85px);
    width: calc(2 * 100vw / 3);
    color: #57A2D4; }
    .next-office-content .next-CTA-wrapper .main-text {
      font-size: 2.5em;
      line-height: 1.4em;
      margin-bottom: 64px; }
    .next-office-content .next-CTA-wrapper .sub-text {
      font-size: 1.25em;
      border-bottom: solid 1.25px #57A2D4;
      display: inline;
      padding-bottom: 3px; }
      .next-office-content .next-CTA-wrapper .sub-text:hover {
        border-bottom: solid 1.25px rgba(87, 162, 212, 0.5); }
      .next-office-content .next-CTA-wrapper .sub-text a {
        color: #57A2D4; }
        .next-office-content .next-CTA-wrapper .sub-text a:hover {
          cursor: pointer;
          color: rgba(87, 162, 212, 0.5); }

.next-office-footer {
  position: relative;
  bottom: calc(-100vw - 100vh + 85px);
  height: 85px;
  background-color: white;
  font-weight: regular;
  font-size: 1em; }
  .next-office-footer.row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .next-office-footer .left-footer {
    padding: 4vh 48px !important; }
  .next-office-footer .middle-footer, .next-office-footer .right-footer {
    padding: 4vh 0 !important; }
    .next-office-footer .middle-footer a, .next-office-footer .right-footer a {
      color: black;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
